@model IEnumerable<White.Lagoon.Domain.Entities.Villa>

<h1> Villa List</h1>


<table class="table table-border table-striped">
<thead>
	<tr>
		    <th>Name</th>
			<th>Price</th>
			<th>Sqft</th>
			<th>Occupancy</th>
	</tr>
</thead>

<tbody>

		@foreach (var Obj in Model)
		{
		<tr>
			<td>@Obj.Name</td>
			<td>@Obj.Price</td>
			<td>@Obj.Sqft</td>
			<td>@Obj.Occupancy</td>
		</tr>
		}
</tbody>

</table>
